
	<!-- Primary Page Layout
	================================================== -->

<div class="header bg">
	<div class="container">
		<div class="row">
			<header class="col-xs-12 text-center">
					<a href="#"><img src=""></a>
					<!--<h1>Talk to the WORLD!!</h1> -->
				
				<!-- First clock
				================================================== -->
				<div class="logo1">
					<ul class="time">
						<li>
							<span class="hours"></span><br />
							Hours
						</li>
						<li>
							<span class="minutes"></span><br />
							Minutes
						</li>
						<li>
							<span class="seconds"></span><br />
							Seconds
						</li>
					</ul>
				</div>

				<!-- Second clock
				================================================== -->
				<div class="logo2">
					<ul class="time">
						<li>
							<span class="hours"></span><br />
							Hours
						</li>
						<li>
							<span class="minutes"></span><br />
							Minutes
						</li>
						<li>
							<span class="seconds"></span><br />
							Seconds
						</li>
					</ul>
				</div>

				<!-- Third clock
				================================================== -->
				<div class="logo3">
					<ul class="time">
						<li>
							<span class="hours"></span><br />
							Hours
						</li>
						<li>
							<span class="minutes"></span><br />
							Minutes
						</li>
						<li>
							<span class="seconds"></span><br />
							Seconds
						</li>
					</ul>
				</div>

				<!-- Fourth clock
				================================================== -->
				<div class="logo4">
					<ul class="time">
						<li>
							<span class="hours"></span><br />
							Hours
						</li>
						<li>
							<span class="minutes"></span><br />
							Minutes
						</li>
						<li>
							<span class="seconds"></span><br />
							Seconds
						</li>
					</ul>
				</div>

				<!-- Fifth clock
				================================================== -->
				<div class="logo5">
					<ul class="time">
						<li>
							<span class="hours"></span><br />
							Hours
						</li>
						<li>
							<span class="minutes"></span><br />
							Minutes
						</li>
						<li>
							<span class="seconds"></span><br />
							Seconds
						</li>
					</ul>
				</div>

			</header>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<div class="down">
					<a href="#about" class="smooth"><i class="fa fa-angle-down fa-3x"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about" id="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 text-center">
				<div class="about-content">
					<h2>About ShareU</h2>
					<p>It is the place to share your thoughts with the world.</p>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div class="features-content">
					<header>
						<h2>Features</h2>
					</header>
					<div class="grid clearfix">
						<div class="col-sm-4 text-center">
							<i class="fa fa-mobile fa-5x"></i>
							<b>Be Polite</b>
							<p>Your thoughts are visible to anyone who visits our website. So don't forget to be 
							generous in your speech.</p>
						</div>
						<div class="col-sm-4 text-center">
							<i class="fa fa-clock-o fa-4x"></i>
							<b>Countdown Clock</b>
							<p>Your thoughts are on the show for 24 hours. Smile.  :) </p>
						</div>
						<div class="col-sm-4 text-center">
							<i class="fa fa-picture-o fa-4x"></i>
							<b>Is it you?</b>
							<p>It is up to you to upload your photo to be displayed with your thoughts.</p>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="subscribe" id="subscribe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
			</div>
		</div>
	</div>
</div>
<div class="contact bg">
	<div class="container">	
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>What's on your mind?</h1>
			</div>			
			<div class="col-md-12">
				<form action="contact.php" method="post" id="contact_form" class="contact_form">
					<fieldset>
						<div class="col-sm-6"><input type="text" id="name" placeholder="Name" onFocus="if(!this._haschanged){this.value=''};this._haschanged=true;" /></div>
						<div class="col-sm-6"><input type="text" id="email" placeholder="Email" onFocus="if(!this._haschanged){this.value=''};this._haschanged=true;" /></div>
						<div class="col-xs-12"><textarea id="msg" cols="20" rows="3" placeholder="Message" onFocus="if(!this._haschanged){this.value=''};this._haschanged=true;"></textarea></div>
						<div class="col-xs-12 text-center">
						<input type="submit" value="Publish" id="contact_submit" />
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="social">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div class="social-content">
					<h2>Social Media</h2>
					<div class="socmed">
						<a href="https://creativemarket.com/SRPACDY" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
						<a href="https://creativemarket.com/SRPACDY" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
						<a href="https://creativemarket.com/SRPACDY" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
					</div>					
				</div>				
			</div>
		</div>
	</div>
</div>



	
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/scroll.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/jquery.countdown.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/countdown.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/supersized.3.2.7.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/images.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/form.js" charset="utf-8"></script>
